.experience__container {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.experience_content {
  width: 100%;
}

.experience_cards {
  display: flex;
  flex-direction: row;
}

.experience_card {
  width: 30%;
  margin: 0 auto;
  background-color: var(--color-primary-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.experience_card:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.experience_card img {
  width: 60px;
}
.experience_card h5 {
  font-size: 0.9rem;
}

.experience_card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media only screen and (max-width: 1024px) {
  .experience__container {
    width: var(--container-width-md);
    flex-direction: column;
  }

  .experience_content {
    width: 100%;
  }

  .experience_cards {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .experience_card {
    width: 100%;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media only screen and (max-width: 600px) {
  .experience__container {
    width: var(--container-width-sm);
    flex-direction: column;
    gap: 2rem;
    width: 90%;
  }

  .experience_cards {
    flex-direction: column;
  }

  .experience_card {
    width: 100%;
  }
}

/* MODAL  */
.modalHeader {
  color: var(--color-bg-variant);
  background: var(--color-primary);
}

.modalBody {
  background: var(--color-bg);
  padding-bottom: 5rem;
}

.modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  background: rgba(92, 168, 174, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(92, 168, 174, 0.41);
}
