nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  z-index: 100;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  padding: 0.2rem 0.8rem;
}

nav a {
  background: transparent;
  padding: 0.6rem 0.9rem;
}

nav img {
  width: 20px;
}

nav a:hover {
  background: var(--color-bg);
  border-radius: 50%;
}

nav a.active {
  background: var(--color-primary-variant);
  border-radius: 50%;
}
